<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/master.css">
  <script src="../js/source.js" defer charset="utf-8"></script>
  <title>Huaraches San Francisco</title>
</head>

<body>

  <div id="menu" onclick="mostrar();">
    <span id="clic">Toca para ver menú</span>

    <span id="contenido-menu">

      <span id="shake">
        <a class="atag" href="../index.html" style="text-decoration: none;">
          <div class="circulo">
            <p>Tacos y tortas</p>
          </div>
        </a>

        <a class="atag" href="#" style="text-decoration: none;">
          <div class="circulo">
            <p>Refrescos</p>
          </div>
        </a>
      </span>

    </span>
  </div>

  <div class="super-container" onclick="colapsar();">

    <div style="margin-top: 16rem; background-color: #f87307;"></div>
    <div class="container">

      <div class="img-container">
        <div class="card" id="aguas" onclick="mostrarPrecio()">
          <img src="../imgs/aguas.jpeg" alt="aguas frescas de frutas" class="image">
          <p>Agua de frutas</p>
          <p class="descripcion">
            Chica <br><br> Mediana <br><br> Grande
          </p>
          <div class="overlay-left">
            <div class="text">$20 Chica <br> $25 Mediana <br> $30 Grande</div>
          </div>
        </div>
      </div>

      <div class="img-container">
        <div class="card" id="vidrios" onclick="mostrarPrecio()">
          <img src="../imgs/vidrios.jfif" alt="refrescos en envase de vidrio" class="image">
          <p>Refrescos en vidrio</p>
          <p class="descripcion">Coca-Cola, Sidral, Mundet Rojo, Sprite, Fanta, Valle mango o guayaba</p>
          <div class="overlay-right">
            <div class="text">$20</div>
          </div>
        </div>
      </div>

    </div>

    <div style="padding-bottom: 5rem;"></div>

    <!-- COMENTARIO: Segunda fila de bebidas -->
    <div class="container">

      <div class="img-container">
        <div class="card" id="latas" onclick="mostrarPrecio()">
          <img src="../imgs/latas.jfif" alt="refrescos en lata" class="image">
          <p>Refresco en lata</p>
          <p class="descripcion">Coca-cola light <br><br> Coca-cola zero <br><br> Coca-cola tradicional </p>
          <div class="overlay-left">
            <div class="text">$24</div>
          </div>
        </div>
      </div>

      <div class="img-container">
        <div class="card" id="chelas" onclick="mostrarPrecio()">
          <img src="../imgs/chelas.jfif" alt="cervezas" class="image">
          <p>Cerveza</p>
          <p class="descripcion">Corona o Victoria <br>
            Negra modelo <br> Modelo ámbar <br> Modelo especial <br>Pacífico <br> Heineken
          </p>
          <div class="overlay-right">
            <div class="text">$36 Heineken<br> Corona <br> Victoria <br> $33 <br> Modelo <br>y Pacífico $35 </div>
          </div>
        </div>
      </div>

    </div>

    <div style="padding-bottom: 5rem;"></div>
    <!-- COMENTARIO: Tercera fila de bebidas -->
    <div class="container">

      <div class="img-container">
        <div class="card" id="jugos" onclick="mostrarPrecio()">
          <img src="../imgs/jugos.jfif" alt="Varios jugos" class="image">
          <p>Jugos de 1/2</p>
          <p class="descripcion">Zanahoria<br><br> Verde <br><br> Naranja </p>
          <div class="overlay-left">
            <div class="text"> Zanahoria <br> $23 <br><br> Verde $26 <br><br> Naranja <br> $25 </div>
          </div>
        </div>
      </div>

      <div class="img-container">
        <div class="card" id="agua-embotellada" onclick="mostrarPrecio()">
          <img src="../imgs/embotellada.jfif" alt="agua embotellada" class="image">
          <p>Agua embotellada</p>
          <p class="descripcion"> De 600mL <br><br> Licuados de 1/2</p>
          <div class="overlay-right">
            <div class="text">600mL $16 <br><br> Licuados $26 </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div style="padding-bottom: 5rem;"></div>

  <footer>
    <div style="padding-left: 2rem;"></div>
    MigrateDigital &#169; Todos los derechos reservados
    <div style="padding-left: 2rem;"></div>
  </footer>

</body>

</html>
