<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/master.css">
  <title>Snacks Cerdo Picante</title>
</head>

<body>
  <div class="container2">
    <span style="display:none; font-size: 1px;"></span>
    <span class="ilustracion">
      <img src="../imgs/papas.jpg" width="1500" alt="ilustracion base comida">
    </span>
    <p class="titulo-secundario">Snacks</p>

    <div class="flexionado-horizontal">
      <div class="horizontalCard" id="platillo">
        <p>PAPAS A LA FRANCESA</p>
        <p>$50</p>
      </div>
      <div style="padding-top:3.4rem;"></div>
      <div class="horizontalCard" id="platillo">
        <p>SNACK</p>
        <p>$00</p>
      </div>
    </div>

    <div style="padding-top:3.4rem;"></div>
    <span class="ilustracion">
      <img src="../imgs/hotdog.jpg" width="1500" alt="ilustracion base comida">
    </span>

    <p class="titulo-secundario">Hotdogs</p>

    <div class="flexionado-horizontal">
      <div class="horizontalCard" id="platillo">
        <p>DEBBIE HARRY</p>
        <p>110 gramos de salchicha, champiñones, quesillo, 40grs de tocino y guacamole</p>
        <p>$70</p>
      </div>
      <div style="padding-top:3.4rem;"></div>
      <div class="horizontalCard" id="platillo">
        <p>HOTDOG</p>
        <p>Descripción</p>
        <p>$00</p>
      </div>
    </div>

    <div style="padding-top:35em;"></div>

    <div class="finali">
      <nav id="navbar" onclick="mostrar();">
        <span class="clicable">Volver</span>
        <div style="padding: 1rem 0;"></div>
        <span id="contenido-nav">
          <a href="../index.html">
            <div class="tarjeta2">
              <span class="imagen-regresar">
                <img style="height:1em; width:auto;" src="../imgs/regreso.png" alt="back">
              </span>
              <span style="padding-right:5rem;"></span>
              Inicio
            </div>
          </a>
          <div style="padding: 1.5rem 0;"></div>
        </span>
      </nav>
    </div>
  </div>
  <script type="text/javascript">
    let navbarSpan = document.getElementById("contenido-nav");
    let desplegada = false;

    function mostrar() {
      let navbar = document.getElementById("navbar");
      let instruccion = document.getElementsByClassName("clicable");
      if (desplegada == false) {
        navbarSpan.style.display = "inline-block";
        navbar.style.height = "24%";
        instruccion.innerHTML = "Regresar a inicio"
        desplegada = true;
      } else {
        navbarSpan.style.display = "none";
        navbar.style.height = "10%";
        instruccion.innerHTML = "Volver"
        desplegada = false;
      }

    }
  </script>
</body>

</html>
